body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
    background-image: url(./img/bgim.png);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
}

.App {
    padding: 15px;
    display: block;
    color: #5D5D5D;
}

@media screen and (max-width: 768px) {
    body{
        font-size: 0.8em;
    }
}