h1 {
    font-weight: lighter;
}

.taskList{
    display: flex;
    justify-content: space-around;
}

.active, .done{
    margin: 10px 10px;
    border-radius: 25px;
    padding: 10px 10px;
    min-height: 60vh;
    height: auto;
    width: 40vw;
}

.active {
    background-color: #F7EDED;
}

.done {
    background-color: #EFFCEF;
}

@media screen and (max-width: 768px) {
    .taskList {
        display: block;
    }

    .active, .done {
        min-height: 40vh;
        height: auto;
        width: 90%;
    }
}